/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header_menu-list {
  display: flex;
  list-style-type: circle;
  font-size: 18px;
  column-gap: 33px;
}

.none_style {
  list-style: none;
}

.none_style a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
  text-underline-position: under;
}

.header_logo-image {
  position: relative;
  display: block;
  height: 105px;
  width: 148px;
}

.address {
  max-width: 240px;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  text-underline-position: under;
}

.header_address {
  justify-self: end;
}

.cover {
  position: relative;
  min-height: 757px;
  margin-top: 5px;
  background: url(/images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: absolute;
  z-index: 0;
  inset: 0;
  min-height: 100%;
  background-color: rgb(0 0 0/ 0.6);
}

h1 {
  position: relative;
  display: flex;
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: space-around;
  padding: 158px 20px 65px 50px;
  letter-spacing: 0.3em;
  line-height: 130px;
}

.word_left {
  align-self: start;
}

.word_center {
  align-self: center;
  margin-top: 5px;
}

.word_right {
  align-self: end;
  margin-top: 5px;
}

.cover_footer {
  position: relative;
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-top: 32px;
}

.cover_article {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  color: white;
  letter-spacing: 0;
  word-spacing: 18.5px;
}

.button {
  width: 256px;
  height: 51px;
  color: white;
  font-size: 22px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid currentColor;
  text-transform: uppercase;
}

.button a {
  text-decoration: none;
}

.lots {
  width: 1052px;
  margin-top: 180px;
  margin-left: 24px;
  margin-right: 24px;
}

.lots_header {
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots_title {
  text-transform: uppercase;
  font-size: 40px;
}

.cards_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
}

.card h3 {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  margin: 48px 40px 0 40px;
}

.card p {
  font-size: 20px;
  color: white;
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
}

.card_type {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_movie { 
  background-image: url(/images/card-lot-01.jpg);  
}

.card_book { 
  background-image: url(/images/card-lot-02.jpg); 
}

.card_painting { 
  background-image: url(/images/card-lot-03.jpg);
}

.lots_footer {
  font-size: 20px;
  margin-left: 40px;
  margin-top: 30px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr 1fr;
  grid-template-rows: 283px 1fr;
  width: 1052px;
  margin: 118px 24px 90px 24px;
  justify-items: center;
  align-items: center;
}

.circle {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-top: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
}

.about_logo-image {
  display: block;
  height: 114px;
  width: 148px;
}

.about_title {
  display: grid;
  text-transform: uppercase;
  grid-column: 2/3;
  grid-row: 1/2;
}

.about h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 35px;
  margin-right: 20px;
}

.about_text {
  display: grid;
  grid-column: 2/4;
  grid-row: 2/4;
  margin: 0 25px;
}

.about p {
  font-size: 20px;
  line-height: 24px;
}

.about_margin {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 91px 50px;
}

.footer_address {
  font-style: normal;
  max-width: 265px;
}

.footer_menu {
  width: 163.9px;
  text-align: center;
  font-size: 18px;
}

.socials {
  width: 240px;
  display: flex;
  justify-content: space-between;
  justify-self: end;
}

.footer_logo-image {
  display: block;
  height: 48px;
  width: 48px;
}
